<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ page.main_image.file.url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Ошибка сервера</h1>
                    <h2 class="subheading">Попробуйте вернуться позже или повторить запрос</h2>
                </div>
            </div>
        </div>
    </div>
</header>
    </body>
</html>
