{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}
{% block page_heading%}
                    <h1>Поиск статей</h1>
                    
{% endblock %}   
{% block content %}
                <form class="d-flex justify-content-center mb-3" action="{% url 'search' %}" method="get">
                    <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Введите запрос" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button">Найти</button>
                    </div>
                    </div>
                </form>

{% if search_query %} <p>Вы искали  “{{ search_query }}”, найдено статей: {{ search_results.paginator.count }}</p>{% endif %}
                    <!-- Post preview-->
                    {% if search_results %}
                    {% for result in search_results %}
                    <div class="post-preview">
                        <a href="{% pageurl result %}">
                            <h2 class="post-title">{{ result }}</h2>
                                {% if result.search_description %}
                                <h3 class="post-subtitle">{{ result.search_description }}</h3>
                                {% endif %}

                        </a>

                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    {% endif %}

                    <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="/">Назад на главную</a></div>
                    <!-- Pager-->
                    {% if search_results.paginator.num_pages > 1 %}
                        <p>Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}, showing {{ search_results|length }} result{{ search_results|pluralize }} out of {{ search_results.paginator.count }}</p>
                    {% endif %}

                    {% if search_results.has_previous %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                    {% endif %}

                    {% if search_results.has_next %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                    {% endif %}
{# Add this paragraph to display the details of results found: #}


{# Replace the <ul> HTML element with the <ol> html element: #}





{% endblock %}